---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'; 
import BuyColoringBook from '../components/buyButtons/BuyColoringBook.astro'
import BuyShirt from '../components/buyButtons/BuyShirt.astro';
import BuyTattoo from '../components/buyButtons/BuyTattoo.astro';
import BuyChainsawPage from '../components/buyButtons/BuyChainsawPage.astro';
---

<Layout>
    <Header />
    <div class="flex flex-col items-center justify-center py-2">
        <div class="bg-green-100 p-4 rounded-md">
            <p>
                Get a free temporary tattoo with the purchase of a coloring book and t-shirt!
                Enter the code <span class="font-bold text-green-700">ivan-free-tattoo</span> at checkout.
            </p>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-2">
            <BuyColoringBook />
            <BuyShirt />
            <BuyTattoo />
            <BuyChainsawPage />
        </div>
    </div>
</Layout>
