---
import testimonials from "../constants/testimonialList.js"
import TestimonialCard from "./TestimonialCard.astro"
---
<!-- component -->

<div class="bg-gray-50 flex items-center justify-center ">
    <div class="w-full bg-blue-300 border-t border-b border-gray-200 px-5 py-16 md:py-24 text-gray-800">
        <div class="w-full max-w-6xl mx-auto">
            <div class="text-center max-w-xl mx-auto">
                <h1 class="text-6xl md:text-7xl font-bold mb-5 text-gray-600">What parents <br>are saying.</h1>
                <div class="text-center mb-10">
                    <span class="inline-block w-1 h-1 rounded-full bg-indigo-500 ml-1"></span>
                    <span class="inline-block w-3 h-1 rounded-full bg-indigo-500 ml-1"></span>
                    <span class="inline-block w-40 h-1 rounded-full bg-indigo-500"></span>
                    <span class="inline-block w-3 h-1 rounded-full bg-indigo-500 ml-1"></span>
                    <span class="inline-block w-1 h-1 rounded-full bg-indigo-500 ml-1"></span>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            {testimonials.map((testimonial) => (
                <div class="px-3 ">
                    <TestimonialCard name={testimonial.name} review={testimonial.review} />
                </div>
            ))}
            </div>
        </div>
    </div>
</div>
